[General]
hostname=192.168.43.140
siteId=satellite
;supported: M5ATOMECHO=0, MATRIXVOICE=1, AUDIOKIT=2
device_type=0

[Wifi]
ssid=SSID
password=password

[OTA]
method=upload
password=OTApassword
port=3232

[MQTT]
ip=192.168.43.54
port=1883
username=username
password=password
