[Matrix]
hostname=192.168.43.140
siteId=matrixvoice

[Wifi]
ssid=SSID
password=password

[OTA]
method=upload
password=OTApassword
port=3232

[MQTT]
ip=192.168.43.54
hostname=192.168.43.54
port=1883
username=username
password=password
maxPacketSize=2000
